
@media print
{
    body :not(.print)
    {
        display: none;
    }
}

.my_box
{
    position: relative;
    float: left;
    width: 48%;
    margin: 0.5%;
}

.my_table_cell
{
    div {
        position: relative;
        float: left;
    }
}

.line_title
{
    width: 150px;
}


.flow_window
{
    position: absolute;
    top: 6%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.sub_window
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250, 0.8);
}

.sub_hide
{
    display: none;
}



.dragTest
{
    position: relative;
    text-align: center;
    line-height: 10em;

    margin: auto;
    width: 40%;
    height: 200px;
    border: solid 1px gray;
    border-radius: 2px;
    background-color: rgba(220,220,220, 1);
}


.button_link
{
    color: white;
    text-decoration: none;
}




/**
:: Layout
**/

.LayoutBase
{
    position    : relative;
    float       : left;
    width       : 65%;
    min-width   : 800px;
    height      : 100%;
    min-height  : 600px;
    max-height  : 1000px;
    border      : solid 5px rgba(100,100,100,1);
    border-radius: 5px;
    padding     : 0;
    overflow-y  : hidden;
    overflow-x  : hidden;
    cursor      : pointer;
}
.LayoutScreen{
    height: 100%;
}
.LayoutScreen > svg,
.LayoutScreen > img
{
    position: absolute;
}
.LayoutSub
{
    width: 25%;
    min-width: 400px;
    position: relative;
    float: right;
    padding: 0;
    margin: 0;
}
.LayoutTexts
{
    margin: 0px 25px 0px 0px;
    height: 60%;
    overflow-y: scroll;
}

.LayoutTemplate
{
    margin: 25px 0px;
    height: 60%;
    overflow-y: scroll;
}

.LayoutGroup
{
    margin: 25px 0px 0px 0px;
    height: 60%;
    overflow-y: scroll;
}


.ToolBox
{

}
.ToolBox > div
{
    position: relative;
    float: left;
    margin: 0 3px;
}

/**
:: Text
**/
.TextTitle
{
    width: 100px;
}
.TextTitle2
{
    font-weight: bolder;
    text-align: center;
    line-height: 1.8em;
}
.TextInputMin
{
    font-size: 0.8em;
    width: 70px;
}

.TextInputMiddle
{
    font-size: 0.8em;
    width: 250px;
}

.TextInputLarge
{
    font-size: 0.8em;
    width: 300px;
}


/**

Image

**/

.ImageEditer
{

}

.ImageEditer > img,
.ImageEditer > svg
{
    position: absolute;
}

.ImagePointer
{
    cursor: pointer;
}

@font-face {
    font-family: meirio;
    src: local('メイリオ');
}
@font-face {
    font-family: ms_gothic;
    src: local("ＭＳ ゴシック");
}
@font-face {
    font-family: ms_mintyou;
    src: local("ＭＳ 明朝");
}
@font-face {
    font-family: kyokasho;
    src: local("UD デジタル 教科書体 NK-R");
}
@font-face {
    font-family: gyousho;
    src: local("HG行書体");
}
@font-face {
    font-family: kaisho;
    src: local("HG正楷書体-PRO");
}

